 <template name="matching">
            
              <div class="match col-md-3">
                <h2 class="page-header"><i class="fa fa-cog fa-spin fa-2x"></i>  Matching...</h2>
                <div class="row">
                        <div class="col-md-12">
                            <img class="img-responsive img-hover" src="http://placehold.it/128x128" alt="">
                            <br />
                        </div>
                        <br />
                        <div class="col-md-12">
                            <div class="btn-group-sm">
                                <a class="play btn btn-primary">Normal</a>
                                <a class="play btn btn-success">Ranked</a>
                            </div>
                        </div>

                        <br />

                        <div class="col-md-12">
                            <h4><span class="glyphicon glyphicon-search"></span> [0:01]Searching...<span class="match-topic">{TopicName}</span></h4>

                            <br />

                            <a href="#" id="cancel" class="btn btn-danger btn-sm" >Cancel</a>

                        </div>
                    
                </div>
                <hr />

            </div>

        </template>